table {
    width: 100%;
  }


  .container{
      width: 90%;
      margin: auto;
  }

  mat-form-field{
      width: 100%;
  }

  .button-box{
      width: 20%;
      position: absolute;
      left:75%;

  }

  button{
      width: 100%;
  }

  h1{
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
  }
 
  .edit{
      color:rgba(0, 153, 255, 0.801);
  }

  .delete{
      color:rgb(204, 50, 30);
  }

.filter-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}